<!DOCTYPE html>
<html>
  <head>
    <title>WeatherApp</title>
    <% include header %>
  </head>
  <body>
    
      <nav class="navbar">
          <div class="home">
            <a id="logo" href="">Weather App</a>
          </div>
          <a id="deco" href="">Déconnexion</a>
      </nav>
    <div class="container">
      <div class= "row">
        <div class="col-0 col-lg-6">
        </div>

        <div class="col-12 col-lg-6">
            <div class="form-group">
              <input type="text" name="city" class="form-control" id="formGroupExampleInput" placeholder="Enter city name">
              <button type="submit" class="btn btn-primary">Add city</button>
            </div>
          </form>
        </div>

        <div class="col-12 col-lg-6">
          <img class="img-fluid" src="/images/map.png" alt="">
        </div>

        <% if(cityList.length>0) {%>
        <div class="col-12 col-lg-6">
          <div>Update cities <img src="" alt=""></div>
          <% for(i=0 ; i<cityList.length ; i++) { %>

          <div class="villes">
            <span><%=cityList[i].ville%></span>
            <span class="temp">
              <span><%=cityList[i].temps%></span>
              <img src=<%=cityList[i].picto%> alt="nuageux">
              <span class="badge badge-warning"><%=cityList[i].temp_max%>°c</span>
              <span class="badge badge-info"><%=cityList[i].temp_min%>°c</span>
            </span>
            <span><a href="/delete-city?position=<%=i %>"> <img id="delete" src=<%=cityList[i].delete%> alt="delete"></a></span>
          </div>

          <%
          }
          %>

        </div>
      <%
       } else {
      %> 

      <p>No cities found</p>

      <% }
      %>
        
      </div>

    </div>

  </body>
</html>
