<!DOCTYPE html>
<html>
  <head>
    <title>WeatherApp</title>
    <% include header %>
  </head>
  <body>
    
      <nav class="header navbar navbar-light bg-dark">
          <img src="/images/sunny.png">
          <a href="/login" class="logout">Déconnexion</a>
      </nav>
    <div class="container">
      <div class= "row">

        <div class="col-12 add-city">
          <form action="/add-city" method="POST" class="formcity">
              <input type="text" name="city" class="form-control" id="formGroupExampleInput" placeholder="Enter city name">
              <button type="submit" class="btn btn-primary">Add city</button>
          </form>
          <% if(errMsg !== null) { %>
          <p id="err-msg">
               <%=errMsg%>
          </p>
          <%}%>
        </div>

        <div class="col-12 col-lg-6">
          <img class="img-fluid" src="/images/map.png" alt="">
        </div>

        <% if(cityList.length>0) {%>
        <div class="col-12 col-lg-6">
          <div id="update" >Update cities<img src="/images/refresh.png" id="refresh" alt=""></div>
          <% for(i=0 ; i<cityList.length ; i++) { %>

          <div class="villes">
            <span><%=cityList[i].ville%></span>
            <span class="temp">
              <span><%=cityList[i].temps%></span>
              <img class="picto" src=<%=cityList[i].picto%> alt="nuageux">
              <span class="badge badge-warning"><%=cityList[i].temp_max%>°c</span>
              <span class="badge badge-info"><%=cityList[i].temp_min%>°c</span>
            </span>
            <span><a href="/delete-city?position=<%=i %>"> <img id="delete" src=<%=cityList[i].delete%> alt="delete"></a></span>
          </div>

          <%
          }
          %>

        </div>
      <%
       } else {
      %> 

      <p>No cities found</p>

      <% }
      %>
        
      </div>

    </div>

  </body>
</html>
